.pagina-lista-clientes_item-cliente{
    background-color: #fff;
    padding: 8px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.pagina-lista-clientes_item-cliente-acoes{
    display: flex;
    gap: 16px;
}